<p id="notice"><%= notice %></p>

<h1>User Foods</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Food</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_foods.each do |user_food| %>
      <tr>
        <td><%= user_food.User.name %></td>
        <td><%= user_food.Food.name %></td>
        <td><%= link_to 'Show', user_food %></td>
        <td><%= link_to 'Edit', edit_user_food_path(user_food) %></td>
        <td><%= link_to 'Destroy', user_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Food', new_user_food_path %>
